#logo{
    width: 400px;
    height: 100px;
}
.nav-link{
    font-size: 17px;
}
.navbar-nav{
    margin-left: 52%;
}
nav {
    background: linear-gradient(45deg, #a6cfe8, #2c3892);

    
}
#btnOne {
    margin-left: 50px;
    width: 120px;
    height: 50px;
    font-size: 20px;
}
#club {
    border-radius: 50%;
    max-width: 130px;
    margin-left: 50px;
}
#name {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
}
.heading {
    margin-top: 20px;
    margin-bottom: 20px;
}
.box {
    border: 3px;
    border-style: solid;
    max-width: 800px;
    margin-left: 25%;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 2px 3px;
    background-color: white;
}
h2{
    margin-top: 10px;
    margin-left: 20px;
}
#about{
    margin-left:20px;
}
body {
    background-color: #8ad3f3;
}
#boxOne {
    margin-top: 10px;
    border: 3px;
    border-style: solid;
    box-shadow: 2px 3px;
    border-radius: 8px;
    max-width: 800px;
    margin-left:25%;
    background-color: white;
}
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    font-family: 'Lato', sans-serif;
    
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
}
h2{
    text-align: center;
    font-size: 50px;
}

._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin-left: 20px;
}
.social-icon {
    color: #fff;
    border-radius: 5px;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}