#logo{
    width: 400px;
    height: 100px;
}
.nav-link{
    font-size: 20px;
    color: black;
}
.navbar-nav{
    margin-left: 60%;
}
nav{
    background: linear-gradient(45deg, #a6cfe8, #2c3892);
    width: 100%;
    top:0;
}
#btnOne {
    margin-left: 50px;
    width: 120px;
    height: 50px;
    font-size: 20px;
}
#aTwo{
    margin-right: 3px;
    margin-left: 3px;
}
#searchBar{
    margin-left: 36%;
    margin-bottom: 50px;
    padding-top: 10px;
    height: 70px;
}
.carousel-inner{
    
    border: 5px solid black;
    border-radius: 30px;
    max-width: 600px;
    max-height: 600px;
}
#carouselExampleControls{

    max-width: 400px;
    max-height: 400px;
    margin-left: 525px;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }


@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
#search{
    width: 400px;
}
#upCome{
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
   margin-left: 60px;
   margin-top: 15px;
    text-align: center;
}
#upCome2{
    margin-left: 60px;
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
}
#upCome3{
    margin-top: 790px;
    margin-left: 60px;
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
   
    text-align: center;
}
.hero{
    
    width: 50%;
    height: 80%; 
    margin-left: 300px;
    margin-top: 5px;
    margin-bottom: 300px;
}
#calendar{
    margin-top: 20px;
    border-radius: 30px;
    margin-bottom: 50px;
    width: 60%;
    position: absolute;
    height: 80%;
    margin-bottom: 300px;
}

.img{
    width: 100%;
    height: 100%;
}
.horizonal-slider {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
    grid-template-rows: minmax(150px, 1fr);
    
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
    list-style: none;
    padding: 0;
  }
  :root {
    --gutter: 50px;
  }
  .horizontal-slider-container {
    
    width: 100%;
    height: 400px;
    
  }
  .horizontal-slider-container1 {
    
    width: 100%;
    height: 450px;
    overflow-y: scroll;
  }
  
  .item {
    scroll-snap-align: center;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
  }
  .img1{
    width: 100%;
    height: 100%;
  }
  a{
    text-decoration: none;
    color: black;
  }