
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Slab:wght@600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,input{
    font-family: 'Poppins', sans-serif;

} 
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff; 
}
.container::before{
    position: absolute;
    content: '';
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #001236, #090c11);
    top: -10%;
    right: 50%;
    transform: translateY(-50%);
    transition: 1.8s ease-in-out;
    z-index: 6;

}
.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.signin-signup{
    position: relative;
    margin-top: 120px;
    left: 50%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr; 
    z-index: 5;
}

.sign-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
}

.sign-in-form{
    position: relative;
    z-index: 2;
}
.sign-up-form{
    position: relative;
    z-index: 2;
}


.title{
    font-size: 35px;
    color: #090c11;
    margin-bottom: 10px;
}
.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #cac9ca;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 6px;
}
.input-field i{
    text-align: center;
    line-height: 55px;
    color: #181717;
    font-size: 18px;
}
.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
    color: #333;
}
.input-field input::placeholder{
    color: #495c81;
    font-weight: 500;
}
.btn, .btn1{
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 49px;
    background-color: #090c11;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover.btn1:hover{
    background-color: #495c81;
}
a{
    text-decoration: none;
    color: #001236;
}
.btn1{
    font-weight: 600;
    text-transform: capitalize;
    background-color: white;
    color: black;
    border: #001236 solid 5px;
    margin-left: 450px;
    
}
.btnback{
    position: relative;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 49px;
    background-color: black;
    color: #fff;
    right: 250px;
    bottom: 10px;
    margin: 1px 0;
    cursor: pointer;
    transition: 0.5s;
}
.social-text{
    padding: 11px 0;
    font-size: 30px;

}
.social-media{
    background-color: none;
    display: flex;
    justify-content: center;
}
.social-icon{
    height: 46px;
    width: 46px;
    background-color: none;
    border: 1px solid#333;
    border-radius: 50%;
    margin: 0 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
}
.social-icon:hover{
    color: #495c81;
    border-color: #011f5a;
}
.image{
    width: 100%;   
}
.panels-container{
    transition: ease-in-out 0.5s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.panel{
    transition: ease-in-out 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}
.panel{
    transition: ease 0.5s;
    pointer-events: all;
    padding: 48px 17% 32px 12%;

}

.panel .content{
    color: #fff;
}
.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 24px;
}
.panel p{
    font-size: 30px;
    padding: 5px 0;
}
.btn .transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 13px;
}
.containerr{
    align-content: center;
    
    margin-left: 600px;
    margin-right: 500px;
    margin-top: 200px;
}